# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [1]:
# Starter code...

%pip install pandas lxml beautifulsoup4 html5lib
import pandas as pd

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.2)
Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.10/site-packages (4.12.3)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from html5lib) (0.5.1)
Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 30.6 MB/s eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: lxml, html5lib
Successfully installed html5lib-1.1 lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

digital = rawdata[3]
physical = rawdata[0]

digital['Type']= 'digital'
physical['Type']= 'physical'
print(digital)
print(physical)
df_combined = pd.concat([digital, physical])

                                 Artist                      Single  Released  \
0                            Ed Sheeran              "Shape of You"      2017
1     Luis Fonsi featuring Daddy Yankee                 "Despacito"      2017
2               Rihanna featuring Drake                      "Work"      2016
3         The Chainsmokers and Coldplay  "Something Just Like This"      2017
4                            Ed Sheeran                   "Perfect"      2017
5    Wiz Khalifa featuring Charlie Puth             "See You Again"      2015
6     The Chainsmokers featuring Halsey                    "Closer"      2016
7                                 Adele       "Rolling in the Deep"      2011
8      Mark Ronson featuring Bruno Mars               "Uptown Funk"      2015
9                         Billie Eilish                   "Bad Guy"      2019
10                           Ed Sheeran         "Thinking Out Loud"      2015
11  Camila Cabello featuring Young Thug                    "Havana"      2017
12                            Lil Nas X             "Old Town Road"      2018
13                     Carly Rae Jepsen             "Call Me Maybe"      2011
14                         Taylor Swift                "Love Story"      2008
15                                Adele          "Someone Like You"      2011
16                              Rihanna                 "Needed Me"      2016
17      Shawn Mendes and Camila Cabello                  "Señorita"      2019
18                      Imagine Dragons               "Radioactive"      2012
19                      Imagine Dragons                  "Believer"      2017
20                                Drake                "God's Plan"      2018

   Sales (in millions)        Source     Type
0              41.5[a]      [47][48]  digital
1              36.1[a]      [47][48]  digital
2              32.5[a]          [49]  digital
3              21.5[a]      [47][48]  digital
4              21.4[a]      [47][48]  digital
5              20.9[a]          [50]  digital
6              20.7[a]      [51][47]  digital
7                 20.6  [52][53][54]  digital
8                20[a]          [50]  digital
9              19.5[a]          [55]  digital
10             19.5[a]          [50]  digital
11             19.0[a]      [47][48]  digital
12             18.4[a]          [55]  digital
13                18.0          [56]  digital
14             18.0[a]          [57]  digital
15                17.0          [58]  digital
16             17.0[a]          [49]  digital
17             16.1[a]          [55]  digital
18               16[a]          [59]  digital
19             15.4[a]      [60][61]  digital
20             15.3[a]          [48]  digital
                                  Artist  \
0                            Bing Crosby
1                             Elton John
2                            Bing Crosby
3                             Tino Rossi
4                Bill Haley & His Comets
5                        Whitney Houston
6                          Elvis Presley
7                         USA for Africa
8                          The Ink Spots
9                            Celine Dion
10                          Mariah Carey
11                               Baccara
12                           Bryan Adams
13  John Travolta and Olivia Newton-John

                                               Single  Released  \
0                                   "White Christmas"      1942
1   "Something About the Way You Look Tonight"/"Ca...      1997
2                                      "Silent Night"      1935
3                                   "Petit Papa Noël"      1946
4                             "Rock Around the Clock"      1954
5                            "I Will Always Love You"      1992
6                                 "It's Now or Never"      1960
7                                  "We Are the World"      1985
8                                  "If I Didn't Care"      1939
9                               "My Heart Will Go On"      1997
10                  "All I Want For Christmas Is You"      1994
11                            "Yes Sir, I Can Boogie"      1977
12                "(Everything I Do) I Do It for You"      1991
13                       "You're the One That I Want"      1978

       Sales (in millions)  Source      Type
0                       50     [1]  physical
1                       33     [1]  physical
2                       30     [2]  physical
3                       30     [3]  physical
4                       25  [4][5]  physical
5                       24  [6][7]  physical
6                       20  [8][9]  physical
7                       20    [10]  physical
8   19[disputed – discuss]    [11]  physical
9                       18    [12]  physical
10                      16    [13]  physical
11                      16    [14]  physical
12                      15    [15]  physical
13                      15    [16]  physical

In [3]:
# finging songs closest to my birthday
count = 0
for index, row in df_combined.iterrows():
    if row['Released'] == 2004:  
        print(row['Single'])  
        count = count + 1

if count == 0: 
    df_combined['Difference'] = abs(df_combined['Released']-2004)
    closest_number = df_combined['Difference'].idxmin()
    for index, row in df_combined.iterrows():
        if row['Difference'] == closest_number:  
            print(row['Single'])  
            print(row['Released'])

"Old Town Road"
2018
"God's Plan"
2018

In [4]:
# finding songs fro years 2019 and 2020
for index, row in df_combined.iterrows():
    if row['Released'] == 2019 or row['Released'] == 2020:  
        print(row['Single'])

"Bad Guy"
"Señorita"

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [5]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

# connect dfs
df_combined = pd.concat(rawdata[0:9], ignore_index=True)

# remove missing value cases in columns of interest
df_cleaned = df_combined.dropna(subset=['Mission name', 'Launch date'])
# get years and get max from the newly defined 
years = df_cleaned['Launch date'].str[-5:]
pd.Series(years).value_counts().idxmax()

# gte needed package
from collections import Counter
month_count = Counter()
months = ['January', 'February', 'March', 'April', 'May', 'June', 
          'July', 'August', 'September', 'October', 'November', 'December']


# Loop through months
for month in months:
    # check occurence in column
    for date in df_cleaned['Launch date']: 
            if month in date: 
                month_count[month] += 1

# we sort them in order
sorted_months = sorted(month_count.items(), key=lambda x: x[1], reverse=True) # sorting by count in the tuples
print(sorted_months)

[('November', 30), ('August', 27), ('September', 22), ('October', 22), ('July', 21), ('January', 19), ('December', 19), ('May', 17), ('March', 15), ('February', 14), ('June', 14), ('April', 13)]

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [14]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()
df['Particpant_id']

# add id column
df['Participant_id'] = df.index 

# reshaping it
df_long = pd.melt(df,
                  id_vars=['Participant_id', 'Year'],  # columns from old df
                  value_vars=['Reading_NoInt', 'Naming_Int', 'Naming_NoInt', 'Reading_Int'],  # columns to unpivot
                  var_name='Task',  
                  value_name='RT') 

df_long.head()

KeyError: 'Particpant_id'

In [7]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.